{% extends "base.html" %}

{% block head %}
<style>
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text { font: 12px sans-serif; }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
</style>
{% endblock %}


{% block content %}
<script src="http://d3js.org/d3.v3.min.js"></script>
   
<script>

var treeData = [
  {
    "name": "NULL",
    "parent": "null",
    "cnt":3213,
    "index":"all",
    "children": [
      {
        "name": "A",
        "parent": "NULL",
        "cnt":13,
        "index":"A",
        "children": [
        ]
      },
      {
        "name": "B",
        "parent": "NULL",
        "cnt":23,
        "index":"B",
        "children": [
        ]
      },
      {
        "name": "C",
        "parent": "NULL",
        "cnt":97,
        "index":"C",
        "children": [
          ]
      },
      {
        "name": "D",
        "parent": "NULL",
        "cnt":220,
        "index":"D",
        "children": [
        ]
      },
      {
        "name": "E",
        "parent": "NULL",
        "cnt":59,
        "index":"E",
        "children": [
        ]
      },
      {
        "name": "F",
        "parent": "NULL",
        "cnt":491,
        "index":"F",
        "children": [
        ]
      },
      {
        "name": "G",
        "parent": "NULL",
        "cnt":392,
        "index":"G",
        "children": [
        ]
      },
      {
        "name": "H",
        "parent": "NULL",
        "cnt":548,
        "index":"H",
        "children": [
        ]
      },
      {
        "name": "I",
        "parent": "NULL",
        "cnt":2631,
        "index":"I",
        "children": [
        ]
      },
      {
        "name": "J",
        "parent": "NULL",
        "cnt":203,
        "index":"J",
        "children": [
        ]
      },
      {
        "name": "K",
        "parent": "NULL",
        "cnt":82,
        "index":"K",
        "children": [
        ]
      },
    ]
  }
];

var cnt_f_parent = {'A':2,'B':8,'C':5,'D':4,'E':5,'F':4,'G':4,'H':5,'I':7,'J':7,'K':8};
keys = ['A','B','C','D','E','F','G','H','I','J','K']
c_keys = {'A':[0,11,0,2],'B':[1,5,8,3,2,1,5,3,1,0],'C':[2,48,40,9,2,2,0],'D':[0,89,76,77,10,0],'E':[1,8,20,4,31,5,0],'F':[2,105,145,28,260,0],'G':[0,192,58,190,14,0],'H':[0,45,161,279,28,116,1],'I':[2,18,2166,31,355,548,48,36,0],'J':[2,5,29,86,60,30,10,6,0],'K':[0,0,1,39,29,2,13,0,1,0]};
for(i=0;i<11;i++)
{
  for(j=0;j<=cnt_f_parent[keys[i]];j++)
  {
    treeData[0]['children'][i]['children'].push({"name":keys[i]+"."+j,"parent":"","children":[],"cnt":c_keys[keys[i]][j],"index":keys[i]+"."+j});
  }
  treeData[0]['children'][i]['children'].push({"name":keys[i]+".m","parent":"","children":[],"cnt":c_keys[keys[i]][j],"index":keys[i]+".m"});
}


//B
b = ['B.1','B.2','B.3','B.4','B.5','B.6','B.7','B.8'];
cnt_B = {'B.1':5,'B.2':4,'B.3':4,'B.4':5,'B.5':3,'B.6':3,'B.7':3,'B.8':2};
c_B = {'B.1':[0,1,1,1,2,0,0],'B.2':[2,1,1,1,2,0],'B.3':[0,3,0,0,0,0],'B.4':[0,0,1,1,0,0,0],'B.5':[0,1,0,0,0,0],'B.6':[2,3,0,0,0],'B.7':[0,2,1,0,0],'B.8':[0,1,0,0]};
for(i=0;i<8;i++)
{
  for(j=0;j<=cnt_B[b[i]];j++)
  {
    treeData[0]['children'][1]['children'][i+1]['children'].push({"name":b[i]+"."+j,"parent":"","cnt":c_B[b[i]][j],"index":b[i]+"."+j});
  }
  treeData[0]['children'][1]['children'][i+1]['children'].push({"name":b[i]+".m","parent":"","cnt":c_B[b[i]][j],"index":b[i]+".m"});
}

// //C
c = ['C.1','C.2','C.3','C.4','C.5'];
cnt_C = {'C.1':4,'C.2':6,'C.3':0,'C.4':0,'C.5':5};
c_C = {'C.1':[0,0,0,39,8,2],'C.2':[5,8,7,6,18,1,1,0],'C.3':0,'C.4':0,'C.5':[0,0,1,0,1,0,0]};
for(i=0;i<5;i++)
{
  if(cnt_C[c[i]] == 0)
    continue;
  for(j=0;j<=cnt_C[c[i]];j++)
  {
    treeData[0]['children'][2]['children'][i+1]['children'].push({"name":c[i]+"."+j,"parent":"","cnt":c_C[c[i]][j],"index":c[i]+"."+j});
  }
  treeData[0]['children'][2]['children'][i+1]['children'].push({"name":c[i]+".m","parent":"","cnt":c_C[c[i]][j],"index":c[i]+".m"});
}

// //D
d = ['D.1','D.2','D.3','D.4'];
cnt_D = {'D.1':7,'D.2':13,'D.3':4,'D.4':9};
c_D = {'D.1':[2,0,4,16,0,10,52,3,0],'D.2':[1,5,31,0,11,13,3,2,5,1,6,9,2,1,0],'D.3':[2,18,28,38,1,1],'D.4':[0,0,0,1,0,0,3,3,3,0,0]};
for(i=0;i<4;i++)
{
  for(j=0;j<=cnt_D[d[i]];j++)
  {
    treeData[0]['children'][3]['children'][i+1]['children'].push({"name":d[i]+"."+j,"parent":"","cnt":c_D[d[i]][j],"index":d[i]+"."+j});
  }
  treeData[0]['children'][3]['children'][i+1]['children'].push({"name":d[i]+".m","parent":"","cnt":c_D[d[i]][j],"index":d[i]+".m"});
}


// //F
f = ['F.1','F.2','F.3','F.4'];
cnt_F = {'F.1':3,'F.2':3,'F.3':3,'F.4':3};
c_F = {'F.1':[2,66,12,26,0],'F.2':[12,14,92,7,2],'F.3':[2,11,8,3,0],'F.4':[4,227,16,15,1]};
for(i=0;i<4;i++)
{
  for(j=0;j<=cnt_F[f[i]];j++)
  {
    treeData[0]['children'][5]['children'][i+1]['children'].push({"name":f[i]+"."+j,"parent":"","cnt":c_F[f[i]][j],"index":f[i]+"."+j});
  }
  treeData[0]['children'][5]['children'][i+1]['children'].push({"name":f[i]+".m","parent":"","cnt":c_F[f[i]][j],"index":f[i]+".m"});
}


// //G
g = ['G.1','G.2'];
cnt_G = {'G.1':10,'G.2':3};
c_G = {'G.1':[7,2,25,18,3,0,142,0,7,0,4,0],'G.2':[2,13,33,11,0]}
for(i=0;i<2;i++)
{
  for(j=0;j<=cnt_G[g[i]];j++)
  {
    treeData[0]['children'][6]['children'][i+1]['children'].push({"name":g[i]+"."+j,"parent":"","cnt":c_G[g[i]][j],"index":g[i]+"."+j});
  }
  treeData[0]['children'][6]['children'][i+1]['children'].push({"name":g[i]+".m","parent":"","cnt":c_G[g[i]][j],"index":g[i]+".m"});
}

// //H
h = ['H.1','H.2','H.3','H.4','H.5'];
cnt_H = {'H.1':2,'H.2':8,'H.3':7,'H.4':3,'H.5':5};
c_H = {'H.1':[4,18,23,1],'H.2':[1,11,0,5,16,1,0,1,123,1],'H.3':[2,96,2,165,20,26,6,9,3],'H.4':[2,1,12,6,0],'H.5':[1,39,49,16,9,0,7]};
for(i=0;i<5;i++)
{
  for(j=0;j<=cnt_H[h[i]];j++)
  {
    treeData[0]['children'][7]['children'][i+1]['children'].push({"name":h[i]+"."+j,"parent":"","cnt":c_H[h[i]][j],"index":h[i]+"."+j});
  }
  treeData[0]['children'][7]['children'][i+1]['children'].push({"name":h[i]+".m","parent":"","cnt":c_H[h[i]][j],"index":h[i]+".m"});
}


// //I
cI = ['I.1','I.2','I.3','I.4','I.5','I.6','I.7'];
cnt_I = {'I.1':4,'I.2':11,'I.3':8,'I.4':10,'I.5':5,'I.6':8,'I.7':5};
c_I = {'I.1':[0,2,14,2,1,0],'I.2':[96,70,26,280,344,9,657,661,215,60,145,100,12],'I.3':[0,2,0,9,0,8,4,0,0,0],'I.4':[14,23,6,38,15,23,67,43,126,44,21,4],'I.5':[14,184,85,93,170,16,1],'I.6':[5,2,1,9,10,11,0,2,12,1],'I.7':[1,2,9,3,1,14,0,1]};
for(i=0;i<7;i++)
{
  for(j=0;j<=cnt_I[cI[i]];j++)
  {
    treeData[0]['children'][8]['children'][i+1]['children'].push({"name":cI[i]+"."+j,"parent":"","cnt":c_I[cI[i]][j],"index":cI[i]+"."+j});
  }
  treeData[0]['children'][8]['children'][i+1]['children'].push({"name":cI[i]+".m","parent":"","cnt":c_I[cI[i]][j],"index":cI[i]+".m"});
}


//K
k = ['K.3','K.4','K.5','K.6','K.7','K.8'];
cnt_K = {'K.3':2,'K.4':4,'K.5':2,'K.6':5,'K.7':4,'K.8':3};
c_K = {'K.3':[0,7,31,0],'K.4':[2,13,4,6,0,0],'K.5':[1,0,1,0],'K.6':[0,0,0,3,0,9,0],'K.7':[0,0,0,0,0,0],'K.8':[0,0,0,0,0]};
for(i=0;i<6;i++)
{
  for(j=0;j<=cnt_K[k[i]];j++)
  {
    treeData[0]['children'][10]['children'][i+3]['children'].push({"name":k[i]+"."+j,"parent":"","cnt":c_K[k[i]][j],"index":k[i]+"."+j});
  }
  treeData[0]['children'][10]['children'][i+3]['children'].push({"name":k[i]+".m","parent":"","cnt":c_K[k[i]][j],"index":k[i]+".m"});
}


// ************** Generate the tree diagram   *****************
var margin = {top: 30, right: 0, bottom: 0, left: 0},
   width = 12600 - margin.right - margin.left,
   height = 12600 - margin.top - margin.bottom;
   
var i = 0;

var tree = d3.layout.tree()
   .size([height, width]);

var diagonal = d3.svg.diagonal()
   .projection(function(d) { return [d.x, d.y]; });

var svg = d3.select("body").append("svg")
   .attr("width", width + margin.right + margin.left)
   .attr("height", height + margin.top + margin.bottom)
  .append("g")
   .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

root = treeData[0];
  
update(root);

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
     links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 100; });

  // Declare the nodes…
  var node = svg.selectAll("g.node")
     .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter the nodes.
  var nodeEnter = node.enter().append("g")
     .attr("class", "node")
     .attr("transform", function(d) { 
        return "translate(" + d.x + "," + d.y + ")"; });

  nodeEnter.append("circle")
     .attr("r", 12)
     .style("fill", "#fff");

  nodeEnter.append("text")
     // .attr("y", function(d) { 
     //    return d.children || d._children ? -18 : 18; })
     .attr("y", -18)
     .attr("dy", ".35em")
     .attr("text-anchor", "middle")
     .text(function(d) { return d.name; })
     .style("fill-opacity", 1);

  nodeEnter.append("text")
     // .attr("y", function(d) { 
     //    return d.children || d._children ? -18 : 18; })
     .attr("y", -18)
     .attr("dy", "1.8em")
     .attr("text-anchor", "middle")
     .text(function(d) { return d.cnt; })
     .style("fill-opacity", 1);

  nodeEnter
    .append("a")
      .attr("xlink:href", function (d) { return "acm/code_papers/" + d.index; })
    .append("rect")
        .attr("class", "clickable")
        .attr("y", -11)
        // .attr("x", function (d) { return d.children || d._children ? -60 : 10; })
        .attr("x", -11)
        .attr("width", 22) //2*4.5)
        // .attr("width", 12) //2*4.5)
        .attr("height", 22)
        .style("fill", "lightsteelblue")
        .style("fill-opacity", .3)        // set to 1e-6 to hide          
        ;

  var link = svg.selectAll("path.link")
     .data(links, function(d) { return d.target.id; });

  // Enter the links.
  link.enter().insert("path", "g")
     .attr("class", "link")
     .attr("d", diagonal);

}

</script>

{% endblock %}
