<!DOCTYPE html>
<html lang="en" style="overflow-y: scroll;">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<style type="text/css">
			body {
				padding-top: 10rem;
				text-align: center;
				background-color: #f2f2f2;
			}
		</style>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/">arXiv Data Cube</a>
		        </div>
		        <div class="collapse navbar-collapse">
		            <ul class="nav navbar-nav">
		                <li>
		                    <a href="/acm">ACM Codes Tree</a>
		                </li>
		                <!-- <li>
		                    <a href="/">Test2</a>
		                </li> -->
		            </ul>
		            <span class="navbar-text navbar-right"><small class="text-muted">&copy; CDE, IIIT Hyderabad</small></span>
		        </div>
		    </div>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>