{% extends "base.html" %}

{% block head %}
<style>
  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  text {
    font-family: sans-serif;
    font-size: 10px;
  }
  table {
    font-family: arial, sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }

  td, th {
    border: 1px solid #f2f2f2;
    text-align: center;
    padding: 1px;
  }

  th {
    background-color: #dddddd;
  }

</style>
{% endblock %}

{% block content %}
<form name="num_tags_form" action="{{ url_for('request_data_cube_with_num_tags') }}" method="POST">
  Select the number of tags you want at first level:
  <select name="num_tags">
    {% for i in range(2,9) %}
      {% if i==num_tags %}
        <option value="{{i}}" selected>{{i}}</option>
      {% else %}
        <option value="{{i}}">{{i}}</option>
      {% endif %}
    {% endfor %}
   </select>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>

<table>
  <tr>
      <th>Tags</th>
      {% for tag in top_tags %}
        {% if loop.index <= num_tags %}
          <td style="background-color: #ccffff;">{{tag[0]}}</td>
        {% else %}
          <td>{{tag[0]}}</td>
        {% endif %}
      {% endfor %}
  </tr>
  <tr>
      <th>Support</th>
      {% for tag in top_tags %}
        {% if loop.index <= num_tags %}
          <td style="background-color: #ccffff;">{{tag[1]}}</td>
        {% else %}
          <td>{{tag[1]}}</td>
        {% endif %}
      {% endfor %}
  </tr>
</table>
<svg width="1350" height="{{data_cube_dimensions[num_tags][0]}}" displacement="{{data_cube_dimensions[num_tags][1]}}"></svg>

<script>
  var svg = d3.select("svg"),
      width = +svg.attr("width"),
      height = +svg.attr("height"),
      displacement = +svg.attr("displacement");

  var color = d3.scaleOrdinal(d3.schemeCategory20);
  var forceLink = d3
      .forceLink().id(function (d) {
          return d.id;
      }).distance(function (d) {
          return d.value;
      });
  var simulation = d3.forceSimulation()
      .force("link", forceLink)
      .force("charge", d3.forceManyBody())
      .force("center", d3.forceCenter(width / 2, height / 2-displacement));

  d3.json("/cube", function(error, graph) {
    if (error) throw error;

    var link = svg.append("g")
        .attr("class", "links")
      .selectAll("line")
      .data(graph.links)
      .enter().append("line")
        .attr("stroke-width", function(d) { return 1; });

    var node = svg.append("g")
        .attr("class", "nodes")
      .selectAll("g")
      .data(graph.nodes)
      .enter().append("g")

    var circles = node.append("svg:a")
        // .attr("xlink:href", function(d){return "tag_set_papers/" + d.url;})
        .append("circle")
        .attr("r", 19)
        .attr("y", -2)
        .attr("x", -1)
        .attr("fill", function(d) { return color(d.group); })
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

    var lables = node.append("a")
        .attr("xlink:href", function(d){return "tag_set_papers/" + d.url;})
        .append("text")
        .attr('x', -15)
        .attr('y', 3)
        .attr('font-size', '20px')
        .text(function(d) {
          return d.support;
        });

    node.append("text")
      // .attr("xlink:href", function(d){return "tag_set_papers/" + d.url;})
      .attr("dx", function(d){return 20})
      .attr("dy", function(d){return 3})
      .text(function(d){return d.id;});

    

    // node.append("title")
    //     .text(function(d) { return d.id; });

    simulation
        .nodes(graph.nodes)
        .on("tick", ticked);

    simulation.force("link")
        .links(graph.links);

    function ticked() {
      link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node
          .attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
          })
    }
  });

  function dragstarted(d) {
    // if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    // d.fx = d.x;
    // d.fy = d.y;
  }

  function dragged(d) {
    // d.fx = d3.event.x;
    // d.fy = d3.event.y;
  }

  function dragended(d) {
    // if (!d3.event.active) simulation.alphaTarget(0);
    // d.fx = null;
    // d.fy = null;
  }
</script>
{% endblock %}
