{% extends "base.html" %}

{% block content %}
	<h1 class="ui header">Paper Information: {{paper_dict['id']}}</h1>
	<table class="table table-striped table-hover table-bordered" style="width: 60%; margin-left: auto; margin-right: auto;">
		<tbody>
			<tr>
				<th style="vertical-align: middle; text-align: center;">title</th>
				<td>{{ paper_dict['title'] }}</td>
			</tr>
			<tr>
				<th style="vertical-align: middle; text-align: center;">authors</th>
				<td>{{ authors }}</td>
			</tr>
			<tr>
				<th style="vertical-align: middle; text-align: center;">tags</th>
				<td>{{ tags }}</td>
			</tr>
			<tr>
				<th style="vertical-align: middle; text-align: center;">summary</th>
				<td>{{ paper_dict['summary'] }}</td>
			</tr>
			<tr>
				<th style="vertical-align: middle; text-align: center;">link</th>
				<td><a href={{link}}>{{ link }}</a></td>
			</tr>
			<tr>
				<th style="vertical-align: middle; text-align: center;">date</th>
				<td>{{ date }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
