{% extends "base.html" %}

{% block head %}
	<style type="text/css">
		tr {
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block content %}
	<h1 class="ui header">{{ tag_set }}</h1>
	<table class="table table-striped table-hover table-bordered" style="width: 60%; margin-left: auto; margin-right: auto;">
		<thead>
			<tr>
				<th><center>id</center></th>
				<th><center>title</center></th>
				<th><center>date</center></th>
		    </tr>
		</thead>
		<tbody>
			{% for d in papers %}
				<tr onclick="window.location.href='/paper/'+'{{d.id}}';">
					<td style="vertical-align: middle;">{{ d.id }}</td>
					<td style="vertical-align: middle;">{{ d.title }}</td>
					<td style="vertical-align: middle;">{{ d.date }}</td>
				</tr>
				<script type="text/javascript">
					$("#"+"{{d.id}}").click(function(){
						window.location = "/";
					});
				</script>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
